<!DOCTYPE html>
<html>
<head>
  <title>Trackvue</title>
  <link rel="stylesheet" type="text/css" href="http://cdn.sencha.com/ext/trial/5.1.0/build/packages/ext-theme-neptune/build/resources/ext-theme-neptune-all.css">
  <!--link rel="stylesheet" type="text/css" href="http://cdn.sencha.com/ext/trial/5.1.0/build/packages/ext-theme-crisp/build/resources/ext-theme-crisp-all.css"-->
  <!--link rel="stylesheet" type="text/css" href="assets/ext/packages/ext-theme-neptune/build/resources/ext-theme-neptune-all.css"-->
  <!--link rel="stylesheet" type="text/css" href="assets/ext/packages/ext-theme-crisp/build/resources/ext-theme-crisp-all.css"-->

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <!--script type="text/javascript" src="http://cdn.sencha.com/ext/trial/5.1.0/build/ext-all.js"></script-->

  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=drawing&language=en"></script>

  <script id="microloader" type="text/javascript" src="http://cdn.sencha.com/ext/trial/5.1.0/build/bootstrap.js"></script>
  <!--script id="microloader" type="text/javascript" src="assets/ext/build/bootstrap.js"></script-->
  <!--%= javascript_include_tag 'application', 'data-turbolinks-track' => true %-->

  <script type ="text/javascript" src="assets/app.js"></script>

  <script type ="text/javascript">
  var login = <%=raw current_user.to_json %>;
  </script>

  <%= csrf_meta_tags %>
</head>
<body>

<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>

<%= yield %>

</body>
</html>
