<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <title>Trackvue</title>
  <%= stylesheet_link_tag    "auth", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "auth", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

  <script>
  if(location.hash)
    $.cookie('_anchor' , location.hash, {path: '/'});
  else if($.cookie('_anchor'))
    location.hash = $.cookie('_anchor');

  window.onload = function() {
    document.getElementById('user_email').focus();
  }
  </script>
</head>
<body>

<% if notice -%>
<div class="success"><%= notice %></div>
<% end -%>
<% if alert && !alert.empty? -%>
<div class="warning"><%= alert %></div>
<% end -%>

<%= yield %>

</body>
</html>
